<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--
      =================PADRONIZADO=================
    //-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/Imagens/sun32.ico">
    <link href="/Styles/General.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/ScriptGeneral.js"></script>

    <!--
      =================ESPECIFICO=================
    //-->
    <link href="/pages/settings/style/style.css" rel="stylesheet" type="text/css">
    <script src="/pages/settings/script.js"></script>
    
    <title>Configurações da Conta</title>
  </head>
  <body>
  <%- include('../../partials/header') %>

  <div id="PersonalInfo">
    <div id="edit">
        <div class="button-wrapper">
          <img src="/Imagens/edit32-white.png" alt="Editar Informações" class="ButtonImages">
        </div>
      </div>
      <div id="delete">
        <div class="button-wrapper" id="button-wrapper-del">
          <img src="/Imagens/delete32-white.png" alt="Deletar Conta" class="ButtonImages">
        </div>
      </div>
      
    <table class="PITable">
      <tr>
          <td class="PITitlesFirst" colspan="2">
            <h2>Informações Pessoais</h2>
          </td >
      </tr>
      <tr>
        <td >
          <strong>Nome completo: </strong>
        </td >
        <td >
          <p id="name"></p>
        </td>
    </tr>
      <tr>
        <td>
          <strong>Número de Contato: </strong>
        </td>
        <td>
          <p id="phone"></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>CPF/CNPJ: </strong>
        </td>
        <td>
          <p id="cpf"></p>
        </td>
      </tr>
      <tr>
        <td>
          <strong>Data de Nascimento: </strong>
        </td>
        <td>
          <p id="birthday"></p>
        </td>
    </tr>
      <tr>
        <td>
          <strong>Endereço: </strong>
        </td>
        <td>
          <p id="address"></p>
        </td>
    </tr>
    <tr>
        <td>
          <strong>Email: </strong>
        </td>
        <td>
          <p id="email"></p>
        </td>
    </tr>
    <tr>
        <td>
          <strong>Dados bancários(Conta-Agência): </strong>
        </td>
        <td>
          <p id="bankAccount"></p>
        </td>
    </tr>
    <tr>
        <td>
          <strong>Genêro: </strong>
        </td>
        <td>
          <p id="gender"></p>
        </td>
    </tr>
    <tr>
        <td>
          <strong>Idioma de Preferência: </strong>
        </td>
        <td>
          <p id="language"></p>
        </td>
    </tr>  
    <tr>
        <td class="PITitlesFirst" colspan="2">
          <h2>Informações do Contrato</h2>
        </td >
    </tr>   
    <tr>
        <td>
          <strong>Id do contrato: </strong>
        </td>
        <td>
          <p id="contractId"></p>
        </td>
    </tr>     
    <tr>
        <td>
          <strong>Início do contrato: </strong>
        </td>
        <td>
          <p id="contractStart"></p>
        </td>
    </tr>     
    <tr>
        <td>
          <strong>Fim do contrato: </strong>
        </td>
        <td>
          <p id="contractEnd"></p>
        </td>
    </tr>  
    </table>
    <div id="Download">
        <button type="submit" id="BDownload">Baixar cópia do contrato</button>
    </div>
  </div> 

  <%- include('../../partials/footer') %>
  </body>
</html>