#FormLog{
	width: 33.33%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(255,245,238, 0.5);
	background-color: rgba(0, 0, 0, 0.3);
  	opacity: 1;
  	backdrop-filter: blur(5px);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
  }
  input[type=text], input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
  }
  button {
	background-color: rgb(119,136,153);
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 66.66%;
  }
  
  #buttons{
	  display: inline-block;
	  position: relative;
	  left: 50%;
	  transform: translateY(-0%) translateX(-33.33%);
	  width: 66.66%;
  }