<footer>
    <div id="font-changers">
        <img src="/Imagens/zoom-plus-black.png" alt="Aumentar Fonte" onclick="aumentarFonte()" id="font-changers-plus">
        <img src="/Imagens/zoom-min-black.png" alt="Diminuir Fonte" onclick="diminuirFonte()" id="font-changers-min">
    </div>
    FakeSolar | Telefone: +55 11 91234-5678 | Email: fakesolar@gmail.com
    <img src="/Imagens/lua-minguante.png" alt="Ativar Modo Dark" onclick="alterarTema()" id="dark-light">
</footer>