footer {  
	position:relative; 
	bottom: 0px; 
	box-shadow: 0 0 20px rgba(255,245,238, 0.5);
}


/*-------------------------Geracao------------------------------*/
#FormLog {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(255, 245, 238, 0.5);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
	opacity: 1;
	backdrop-filter: blur(5px);
	position: relative;
  }
  
  form {
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  .campo-data {
	display: flex;
	align-items: center;
  }
  
  label, input, button {
	margin-right: 8px;
  }
  
  input[type=date] {
	padding: 12px 20px;
	border: 1px solid #ccc;
	box-sizing: border-box;
	font-size: 17px;
  }
  
  button {
	background-color: rgb(119,136,153);
	color: white;
	padding: 14px 20px;
	border: none;
	cursor: pointer;
	font-size: 17px;
  }

  #Container {
	display: flex;
  }
  
  #Graf {
	flex: 70%;
	text-align: left;
	margin-top: 20px;
  }
  
  #SideNumbers{
	flex: 30%;
	margin-left: 20px;
	font-size: 17px;
  }
  
  #Graf img {
	width: 100%;
	max-width: 843px;
	height: auto;
  }

  .GNTable , .EndTable{
	width: 90%;
	border-collapse: separate;
  	border-spacing: 0px;
	margin: 0 auto;
	padding: 33px;
	box-shadow: 0 0 10px rgba(255,245,238, 0.5);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
  	opacity: 1;
  	backdrop-filter: blur(5px);
	text-align: left;
	font-size: 17px;
}

.SideTitle{ 
	margin: 0 auto;
	padding: 10px;
}

/*-------------------------InfoSytem------------------------------*/
#InfoSytem{
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	width: 100%;
	padding: 10px;
}

.ISTable, .ASTable{
	width: 100%;
	border-collapse: separate;
  	border-spacing: 0px;
	margin: 0 auto;
	padding: 33px;
	box-shadow: 0 0 10px rgba(255,245,238, 0.5);
	background-color: rgba(0, 0, 0, 0.3);
	border-radius: 15px;
  	opacity: 1;
  	backdrop-filter: blur(5px);
	text-align: left;
	font-size: 17px;
}

.ISTable td{ border: 1px solid rgba(255,245,238, 0.5);}

.ISNumbers{	font-size: 35px; }

#ISTitlesFirst{ 
    border: 1px solid rgba(255,245,238, 0.5);
    text-align: center;
}
#ISTitlesFirst2{ 
    border: 1px solid rgba(255,245,238, 0.5);
    text-align: center;
}

/*-------------------------Lista Endereços------------------------------*/

.EndTable td{ 
	border: 1px solid rgba(255,245,238, 0.5);
	 font-size: 17px;
	}

/*-------------------------Impacto Ambiental------------------------------*/
#AmbSoc{
	clear: both;
    margin-left: 10px;
	margin-right: 10px;
    margin-top: 10px;
    width: 99%;
    padding: 10px;
}


.Numbers{
    font-size: 35px;
}

