<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--
      =================PADRONIZADO=================
    //-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/Imagens/sun32.ico">
    <link href="/Styles/General.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/ScriptGeneral.js"></script>

    <!--
      =================ESPECIFICO=================
    //-->
    <link href="/pages/login/style/style.css" rel="stylesheet" type="text/css">
    <script src="/pages/login/script.js"></script>
    
    <title>Follow The Solar</title>
  </head>
  <body>

  <div id="FormLog">
    <form action="script.js" method="POST">
        <label for="uname">Usuário:</label><br>
        <input type="text" id="uname" name="uname" placeholder="Username" required><br>
        <label for="passw">Senha:</label><br>
        <input type="password" id="passw" name="passw" placeholder="Password" required><br><br>
        <div id="buttons">
            <button type="button" id="ClickLog">Login</button><br><br>
            <div id="errorContainer"></div>
            <button type="button" id="ForgotPassword">Esqueceu a senha?</button>
        </div>
    </form>
</div>

  <%- include('../../partials/footer') %>
  </body>
</html>