<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--
      =================PADRONIZADO=================
    //-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/Imagens/sun32.ico">
    <link href="/Styles/General.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/ScriptGeneral.js"></script>

    <!--
      =================ESPECIFICO=================
    //-->
    <link href="/pages/reports/style/style.css" rel="stylesheet" type="text/css">
    <script src="/pages/reports/script.js"></script>
    
    <title>Follow The Solar</title>
  </head>
  <body>
  <%- include('../../partials/header') %>

  <div id="Geracao">
    <h2>Dados de Geração</h2>
    <div id="FormLog">
      <form action="script.js" method="POST">
        <div class="campo-data">
          <label for="de">De:</label>
          <input type="text" id="de" name="de" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" required>
        </div>
        <div class="campo-data">
          <label for="ate">Até:</label>
          <input type="text" id="ate" name="ate" placeholder="MM/DD/YYYY" onfocus="(this.type='date')" onblur="(this.type='text')" required>
        </div>
        <button type="submit" id="Filtrar">Filtrar</button>
      </form>
    </div>

    <div id="Container">
      <div id="Graf">
        <img src="/Imagens/Geração.png" alt="Gráfico de Geração">
      </div>
    
      <div id="SideNumers">
        <div id="GerNum">
          <h2 class="SideTitle">Geração</h2>
          <table class="GNTable">
            <tr>
              <td>
                <p>Energia Gerada no Período (KWh):</p>
              </td>
              <td>
                <p>Valor abatido no Período (R$)</p>
              </td>
            </tr>
            <tr>
              <td class="Numbers">
                <strong>137.7,71</strong>
              </td>
              <td class="Numbers">
                <strong>8,95</strong>
              </td>
            </tr>
          </table>
        </div>
        
        <div id="EndTable">
          <h2 class="SideTitle">Lista ordenada de Endereços de Abatimento</h2>
          <table class="EndTable">
              <tr>
                  <td><p>Rua A, Numero 0, Bairro B, CEP 111-11</p></td>
              </tr>
              <tr>
                  <td><p>Rua C, Numero 2, Bairro D, CEP 333-33</p></td>
              </tr>
              <tr>
                  <td><p>Rua E, Numero 4, Bairro F, CEP 555-55</p></td>
              </tr>
          </table>
      </div>
      </div>
      </div>
      
    
</div>

<div id="InfoSytem">
    <h2>Informações do Sistema</h2>
    <table class="ISTable">
        <tr>
            <td id="ISTitlesFirst" colspan="2">
              <p><strong>Sistema 01</strong></p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Número de Série:</strong></p> 
            </td>
            <td>
              <p>01X02</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Potência de Saída Média:</strong></p> 
            </td>
            <td>
              <p>1,383KW</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Número de Placas:</strong></p> 
            </td>
            <td>
              <p>8</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Endereço de Geração:</strong></p> 
            </td>
            <td>
              <p>Rua A, Numero 0, Bairro B, CEP 111-11</p>
            </td>
        </tr>
        <tr>
            <td id="ISTitlesFirst2" colspan="2">
              <p><strong>Sistema 02</strong></p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Número de Série:</strong></p> 
            </td>
            <td>
              <p>03X04</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Potência de Saída Média:</strong></p> 
            </td>
            <td>
              <p>1,490KW</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Número de Placas:</strong></p> 
            </td>
            <td>
              <p>10</p>
            </td>
        </tr>
        <tr>
            <td>
              <p><strong>Endereço de Geração:</strong></p> 
            </td>
            <td>
              <p>Rua C, Numero 2, Bairro D, CEP 333-33</p>
            </td>
        </tr>
      </table>
</div>

<div id="AmbSoc">
    <h2>Impacto Ambiental Social</h2>
    <table class="ASTable">
        <tr>
            <td>
                <img src="/Imagens/coal60.png" alt="Carvão" class="AmbSoc">
            </td>
            <td>
                <img src="/Imagens/oaktree60.png" alt="Arvore" class="AmbSoc">
            </td>
            <td>
                <img src="/Imagens/gas64.png" alt="Fabrica" class="AmbSoc">
            </td>
        </tr>
        <tr>
            <td>
                <p>Carvão poupado(KG):</p>
            </td>
            <td>
                <p>Quantidade equivalente de Árvores Plantadas:</p>
            </td>
            <td>
                <p>Quantidade de CO<sub>2</sub> Reduzido(KG):</p>
            </td>
        </tr>
        <tr>
            <td class="Numbers">
                <strong>1180</strong>
            </td>
            <td class="Numbers">
                <strong>161</strong>
            </td>
            <td class="Numbers">
                <strong>2950</strong>
            </td>
        </tr>
    </table>
</div>

  <%- include('../../partials/footer') %>
  </body>
</html>