<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <!--
      =================PADRONIZADO=================
    //-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/x-icon" href="/Imagens/sun32.ico">
    <link href="/Styles/General.css" rel="stylesheet" type="text/css">
    <script src="/Scripts/ScriptGeneral.js"></script>

    <!--
      =================ESPECIFICO=================
    //-->
    
    <title>Follow The Solar</title>
  </head>
  <body>
  <%- include('../partials/header') %>

  <h1>Não Implementado ainda mas com o esquelo padrão novo</h1>

  <%- include('../partials/footer') %>
  </body>
</html>